/**
 * Variables
 */
$white: #fff;
$black: #000;

$dark: #252525;
$gray: #919191;
$light-gray: #cecece;
$very-light-gray: #f8f9fc;

$theme-color: #d39934;
$theme-color2: #d39934;
$text-color: #f8f9fc;

$border-color: #cecece;
$input-color: #f8f9fc;

$error-color: #d42c2c;

$font-primary: "Inter", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 0;
