/* cookieYes */

.cky-consent-container {
    overflow: hidden;
}

.cky-consent-container,
.cky-modal {
    border-radius: 0 !important;
    max-width: 100vw;

    .cky-consent-bar {
        border-radius: 0 !important;
        max-width: 100vw;
    }

    p,
    button,
    a,
    span,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-primary !important;
    }

    p {
        font-size: 14px !important;
    }

    .cky-btn {
        border: 1px solid $dark !important;
        background: $white !important;
        color: $dark !important;
        border-radius: $theme-border-radius !important;
        padding: 4px !important;

        &:hover {
            background: $theme-color !important;
            color: $white !important;
            opacity: 1 !important;
        }
    }

    .cky-btn-accept {
        background: $theme-color !important;
        color: $white !important;
        border: 1px solid $theme-color !important;
    }
}

.cky-btn-revisit-wrapper {
    background: $theme-color !important;
    position: absolute !important;
    bottom: 65px !important;

    @media (width <= 767px) {
        bottom: 15px !important;
    }
}
