.inputs {
    border: 1px solid $very-light-gray !important;
    padding: 13px !important;
    font-size: 15px !important;
    color: $very-light-gray !important;
    display: block;
    border-radius: $theme-border-radius !important;
    font-weight: 400 !important;
    width: 100%;
    background: $black !important;

    &::placeholder {
        font-size: 15px !important;
        color: $very-light-gray !important;
        font-weight: 400 !important;
        font-family: $font-primary !important;
    }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    @extend .inputs;
}
